.main__container {
	padding: 0px 20px;
	margin: 0 auto;
	background-color: rgba(26, 25, 25, 0.453);
}

.main__box {
	width: 80%;
	margin: 0 auto;
}

.text__chapter {
	font-size: 50px;
	margin-bottom: 40px;
	font-family: "Comic Neue";
	text-align: center;
	color: #c71e1eb4;
}

.text__text {
	margin-bottom: 40px;
	font-size: 1.5rem;
	line-height: 1.5;
	text-indent: 20px;
	display: inline-block;
	text-align: justify;
	user-select: none;
	color: var(--k);
}

.marvel-comics {
	transition: all 0.2s;
	text-decoration: none;
	color: var(--link);
}

a.marvel-comics {
	outline: none;
}

.marvel-comics:active {
	transition: all 0.2s;
	color: var(--blue);
}

.video {
	margin: 30px 0px 50px 0px;
	text-align: center;
}

.the-screensaver {
	width: 50%;
	margin: auto;
	filter: grayscale(80%);
	box-shadow: 10px 10px 20px 5px #000000;
	background-color: #ffffff;
}

.famous-super-heroes {
	font-size: 3rem;
	margin-bottom: 30px;
	user-select: none;
	text-align: center;
	color: #c71e1eb4;
}

.the-screensaver:hover {
	transition: all 0.2s;
}


