.shop {
	margin-bottom: 0px;
}
.shop__tile {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 50px;
}

.shop__tile a {
	opacity: 0.6;
	scale: 1;
	position: relative;
	transition: all 0.3s;
	outline: none;

	@media (max-width: 992px) {
		outline: 2px solid #ffffff;
	}
}

.shop__tile a:hover {
	scale: 1.05;
	opacity: 100;
	color: var(--link);
	filter: grayscale(0%);
	text-align: center;
	transition: all 0.3s;
	box-shadow: 10px 20px 50px 5px #000000;

	&::after {
		font-size: 1.7rem;
		translate: -50%;
		bottom: 30px;
		left: 50%;
		content: attr(value);
		position: absolute;
		padding: 20px;
		border: 2px solid var(--link);
		color: var(--link);
		transition: all 0.3s;
	}
}

.shop__link {
}

.shop__img {
	width: 250px;
	margin: 40px 80px 150px 80px;
}

