@import "./reset.css";
@import "./header.css";
@import "./footer.css";
@import "./index.css";
@import "./shop.css";
/* @import "./thor.css";
@import "./iron-man.css";
@import "./deadpool.css";
@import "./caption-america.css";
@import "./hulk.css"; */

:root {
	--k: #dfd9d9ec;
	--link: #ff9100ef;
	--b: #000000e8;
	--a: #c71e1eb4;
}

body {
	font-family: "Comic Neue";
	font-weight: normal;
	color: var(--k);
	overflow-x: hidden;
	background-image: url(../img/Fon/PNG/04.jpg);
	background-attachment: fixed;
	user-select: none;
}
