.footer__container {
	padding: 30px 20px 0px 20px;
	overflow-x: hidden;
	display: flex;
	justify-content: space-around;
	align-items: center;

	background-color: rgba(26, 25, 25, 0.952);

	@media (max-width: 599px) {
		& {
			flex-direction: column;
		}
	}
}

.social-networks {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	padding: 20px;
}

a.social-networks__link {
	outline: none;
}

.footer__social-link {
	display: flex;
	align-items: stretch;
}

.foolder__svg {
	width: 50px;
	height: 50px;
	color: aliceblue;
	transition: all 0.4s;
}

.foolder__svg--youtube:hover {
	color: rgb(236, 66, 66);
	transition: all 0.1s;
}

.foolder__svg--tiktok:hover {
	color: rgb(65, 63, 63);
	transition: all 0.1s;
}

.foolder__svg--vk:hover {
	color: rgb(72, 172, 218);
	transition: all 0.1s;
}

.foolder__svg--twitch:hover {
	color: rgb(164, 72, 218);
	transition: all 0.1s;
}

/* Адресс */

.address {
	text-wrap: nowrap;
	font-size: 25px;
	line-height: 60px;
	padding: 20px;
}

.address__link {
	color: #fff;
	text-decoration: none;
	transition: all 0.3s;
}
.address__link:hover {
	transition: all 0.2s;
	color: var(--link);
	transition: all 0.3s;
}

/* Animation */

.animationsocial {
	animation: good 1s;
	transition: all 2s;
}

.animationsocial:hover {
	animation: good 0.2s linear infinite alternate;
	transition: all 2s;
}

@keyframes good {
	0% {
		transform: rotate(-15deg);
	}
	100% {
		transform: rotate(15deg);
	}
}
